/*Marcos Medina - N1B ID: 365070
Santiago Diron - N1B ID: 359644-->*/

section{
 background-color: #D5F4D4;
 padding: 10px;
 border-radius: 25px;
 margin: 10px;
}

html{
    min-width: 1000px;
}


.botonNav{
    display: inline;
}

#datos{
    display: block;
    margin: 0px;
}
#estadisticas{
    display: none;
    margin: 0px;
}

#nav{
    margin-top: 10px;
    margin-bottom: 10px;
}
 
.activo {
    background-color: #4da6ff !important;
    color: white !important;
    border: 2px solid #005fa3;
}

footer{
    background-color: #F0F4D4;
    border-radius: 25px;
    font-size: small;
    padding: 10px;
}
footer>p{
    text-align: center;

}
th, td{
    border: 1px solid;
}
table{
    border-collapse: collapse;
}
#titulo{
       display: flex;
        align-items: center;
        flex-direction: column;
        
}

.articulos{
    background-color: #00FF7F;
    display: block;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
}

label{

display: block;

}

.campo{
    width: 170px;
}

.radio{
    width: 50px;
}
.camposInscripcion{
    width: 80px;
}

#idcarrera{
    width: 80px;
}

.radioselector{
    display: flex;
    
}

button{
    display: block;
}

header>button{
    display: inline;
}

h2{
    padding: 10px;
}

#mapa{
    width: 900px;
    height: 500px;
}

